USE [master]
GO
/****** Object:  Database [new_tech]    Script Date: 02.12.2025 17:39:26 ******/
CREATE DATABASE [new_tech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'new_tech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHON_HP\MSSQL\DATA\new_tech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'new_tech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHON_HP\MSSQL\DATA\new_tech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [new_tech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [new_tech]
GO
/****** Object:  Table [dbo].[Maerial_type_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maerial_type_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
	[procent_braka_materials] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Maerial_type_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_material] [int] NULL,
	[name] [nvarchar](50) NULL,
	[value_package] [int] NULL,
	[id_unit_measurement] [int] NULL,
	[cost] [float] NULL,
 CONSTRAINT [PK_Materials_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_in_product_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_in_product_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NULL,
	[id_materials] [int] NULL,
 CONSTRAINT [PK_Materials_in_product_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_request_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_request_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NULL,
	[id_partner] [int] NULL,
	[value_product] [int] NULL,
 CONSTRAINT [PK_Partner_products_request_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_partner] [int] NULL,
	[name] [nvarchar](50) NULL,
	[director] [nvarchar](80) NULL,
	[email] [nvarchar](60) NULL,
	[telephone] [nvarchar](10) NULL,
	[adress_partner] [nvarchar](200) NULL,
	[INN] [nvarchar](20) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_Partners_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[coefficient] [float] NULL,
 CONSTRAINT [PK_Product_type_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_product] [int] NULL,
	[name] [nvarchar](50) NULL,
	[articul] [int] NULL,
	[mincost_forpartner] [float] NULL,
 CONSTRAINT [PK_Products_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_partner_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_partner_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
 CONSTRAINT [PK_Type_partner_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit_measurement_import$]    Script Date: 02.12.2025 17:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_measurement_import$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
 CONSTRAINT [PK_Unit_measurement_import$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Maerial_type_import$] ON 

INSERT [dbo].[Maerial_type_import$] ([id], [name], [procent_braka_materials]) VALUES (1, N'Тип материала 1', CAST(0.20 AS Decimal(5, 2)))
INSERT [dbo].[Maerial_type_import$] ([id], [name], [procent_braka_materials]) VALUES (2, N'Тип материала 2', CAST(0.50 AS Decimal(5, 2)))
INSERT [dbo].[Maerial_type_import$] ([id], [name], [procent_braka_materials]) VALUES (3, N'Тип материала 3', CAST(0.30 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Maerial_type_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials_import$] ON 

INSERT [dbo].[Materials_import$] ([id], [id_type_material], [name], [value_package], [id_unit_measurement], [cost]) VALUES (1, 1, N'Дуб', 20, 1, 10023.02)
INSERT [dbo].[Materials_import$] ([id], [id_type_material], [name], [value_package], [id_unit_measurement], [cost]) VALUES (2, 2, N'Глина', 10, 1, 3001.22)
INSERT [dbo].[Materials_import$] ([id], [id_type_material], [name], [value_package], [id_unit_measurement], [cost]) VALUES (3, 3, N'Форфор', 15, 1, 30010.45)
SET IDENTITY_INSERT [dbo].[Materials_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials_in_product_import$] ON 

INSERT [dbo].[Materials_in_product_import$] ([id], [id_product], [id_materials]) VALUES (1, 1, 10)
INSERT [dbo].[Materials_in_product_import$] ([id], [id_product], [id_materials]) VALUES (2, 1, 7)
INSERT [dbo].[Materials_in_product_import$] ([id], [id_product], [id_materials]) VALUES (3, 2, 8)
SET IDENTITY_INSERT [dbo].[Materials_in_product_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_request_import$] ON 

INSERT [dbo].[Partner_products_request_import$] ([id], [id_product], [id_partner], [value_product]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[Partner_products_request_import$] ([id], [id_product], [id_partner], [value_product]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[Partner_products_request_import$] ([id], [id_product], [id_partner], [value_product]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[Partner_products_request_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners_import$] ON 

INSERT [dbo].[Partners_import$] ([id], [id_type_partner], [name], [director], [email], [telephone], [adress_partner], [INN], [rating]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9432455179', 5)
INSERT [dbo].[Partners_import$] ([id], [id_type_partner], [name], [director], [email], [telephone], [adress_partner], [INN], [rating]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7803888520', 3)
INSERT [dbo].[Partners_import$] ([id], [id_type_partner], [name], [director], [email], [telephone], [adress_partner], [INN], [rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8430391035', 4)
SET IDENTITY_INSERT [dbo].[Partners_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type_import$] ON 

INSERT [dbo].[Product_type_import$] ([id], [name], [coefficient]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Product_type_import$] ([id], [name], [coefficient]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Product_type_import$] ([id], [name], [coefficient]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Product_type_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_import$] ON 

INSERT [dbo].[Products_import$] ([id], [id_type_product], [name], [articul], [mincost_forpartner]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100)
INSERT [dbo].[Products_import$] ([id], [id_type_product], [name], [articul], [mincost_forpartner]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 6', 7018556, 1880)
INSERT [dbo].[Products_import$] ([id], [id_type_product], [name], [articul], [mincost_forpartner]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080)
SET IDENTITY_INSERT [dbo].[Products_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_partner_import$] ON 

INSERT [dbo].[Type_partner_import$] ([id], [name]) VALUES (1, N'ЗАО')
INSERT [dbo].[Type_partner_import$] ([id], [name]) VALUES (2, N'ООО')
INSERT [dbo].[Type_partner_import$] ([id], [name]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Type_partner_import$] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit_measurement_import$] ON 

INSERT [dbo].[Unit_measurement_import$] ([id], [name]) VALUES (1, N'кг')
INSERT [dbo].[Unit_measurement_import$] ([id], [name]) VALUES (2, N'л')
INSERT [dbo].[Unit_measurement_import$] ([id], [name]) VALUES (3, N'шт')
SET IDENTITY_INSERT [dbo].[Unit_measurement_import$] OFF
GO
ALTER TABLE [dbo].[Materials_import$]  WITH CHECK ADD  CONSTRAINT [FK_Materials_import$_Maerial_type_import$] FOREIGN KEY([id_type_material])
REFERENCES [dbo].[Maerial_type_import$] ([id])
GO
ALTER TABLE [dbo].[Materials_import$] CHECK CONSTRAINT [FK_Materials_import$_Maerial_type_import$]
GO
ALTER TABLE [dbo].[Materials_import$]  WITH CHECK ADD  CONSTRAINT [FK_Materials_import$_Unit_measurement_import$] FOREIGN KEY([id_unit_measurement])
REFERENCES [dbo].[Unit_measurement_import$] ([id])
GO
ALTER TABLE [dbo].[Materials_import$] CHECK CONSTRAINT [FK_Materials_import$_Unit_measurement_import$]
GO
ALTER TABLE [dbo].[Materials_in_product_import$]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_product_import$_Materials_import$] FOREIGN KEY([id_materials])
REFERENCES [dbo].[Materials_import$] ([id])
GO
ALTER TABLE [dbo].[Materials_in_product_import$] CHECK CONSTRAINT [FK_Materials_in_product_import$_Materials_import$]
GO
ALTER TABLE [dbo].[Materials_in_product_import$]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_product_import$_Products_import$] FOREIGN KEY([id_product])
REFERENCES [dbo].[Products_import$] ([id])
GO
ALTER TABLE [dbo].[Materials_in_product_import$] CHECK CONSTRAINT [FK_Materials_in_product_import$_Products_import$]
GO
ALTER TABLE [dbo].[Partner_products_request_import$]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_import$_Partners_import$] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partners_import$] ([id])
GO
ALTER TABLE [dbo].[Partner_products_request_import$] CHECK CONSTRAINT [FK_Partner_products_request_import$_Partners_import$]
GO
ALTER TABLE [dbo].[Partner_products_request_import$]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_import$_Products_import$] FOREIGN KEY([id_product])
REFERENCES [dbo].[Products_import$] ([id])
GO
ALTER TABLE [dbo].[Partner_products_request_import$] CHECK CONSTRAINT [FK_Partner_products_request_import$_Products_import$]
GO
ALTER TABLE [dbo].[Partners_import$]  WITH CHECK ADD  CONSTRAINT [FK_Partners_import$_Type_partner_import$] FOREIGN KEY([id_type_partner])
REFERENCES [dbo].[Type_partner_import$] ([id])
GO
ALTER TABLE [dbo].[Partners_import$] CHECK CONSTRAINT [FK_Partners_import$_Type_partner_import$]
GO
ALTER TABLE [dbo].[Products_import$]  WITH CHECK ADD  CONSTRAINT [FK_Products_import$_Product_type_import$] FOREIGN KEY([id_type_product])
REFERENCES [dbo].[Product_type_import$] ([id])
GO
ALTER TABLE [dbo].[Products_import$] CHECK CONSTRAINT [FK_Products_import$_Product_type_import$]
GO
USE [master]
GO
